body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 0px;
    list-style: none;
  }

  button {
    margin: 1px;
    width: 217px;
  }

  .toggle {
    width: 122px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .bold {
    font-weight: bold;
  }

  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin: 0px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  .highlight {
    background-color: teal;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .moveList {
    margin-top: 10px;
  }
  